
/*main css*/
.c{position:fixed;right:10px;top:180px;z-index:100;width:110px;height:272px;}
.main-im{position:fixed;right:1px;top:180px;z-index:100;height:272px;}



.main-im .img-qq{max-width:60px;display:block;position:absolute;left:6px;top:3px;-moz-transition:all 0.5s;-webkit-transition:all 0.5s;-o-transition:all 0.5s;transition:all 0.5s;}

.main-im .im_main{display:none;}




.main-im .im_main .weixing-show .weixing-ma{width:104px;height:103px;padding-left:5px;padding-top:5px;}
.main-im .im_main .weixing-show .weixing-txt{position:absolute;top:110px;left:7px;width:100px;margin:0 auto;text-align:center;}
.main-im .im_main .go-top{width:50px;height:47px;background:#f5f5f5;border-bottom-right-radius:10px;background:url(../images/totop-icon.png) no-repeat center center;float:right;}
.main-im .im_main .go-top a{display:block;width:52px;height:47px;}
.main-im .close-im{position:absolute;right:10px;top:-12px;z-index:100;width:24px;height:24px;}
.main-im .close-im a{display:block;width:24px;height:24px;background:url(../images/close_im.png) no-repeat left top;}






.main-im .open-im{cursor:pointer;margin-left: 58px;width: 65px;height: 180px;background:url(../images/open_im.png) no-repeat left top;}
.main-im .open-im1{cursor:pointer;margin-left: 100px;width: 115px;height: 180px;background:url(../images/kefu1.png) no-repeat left top;}
/*
本代码由js代码网收集并编辑整理;
尊重他人劳动成果;
转载请保留js代码网链接 - www.jsdaima.com
*/