.text-loading{
    display: inline-block;
}
.text-loading:after{
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis 3s infinite;
    -moz-animation: ellipsis 3s infinite;
    -o-animation: ellipsis 3s infinite;
    animation: ellipsis 3s infinite;
    content: "\2026";
}
@-webkit-keyframes ellipsis {
    0%{
        width: 0px;
    }
    100%{
        width: 100%;
    }
}
@-moz-keyframes ellipsis {
    0%{
        width: 0px;
    }
    100%{
        width: 100%;
    }
}
@-o-keyframes ellipsis {
    0%{
        width: 0px;
    }
    100%{
        width: 100%;
    }
}
@keyframes ellipsis {
    0%{
        width: 0px;
    }
    100%{
        width: 100%;
    }
}
.row-normal {
    margin-left: 0;
    margin-right: 0;
}

.bd {
    border-bottom: .1rem solid #aaaaaa;
}

.modal-tip .modal-dialog {
    text-align: center;
}

.modal-tip .modal-body {
    padding: .5rem;
}

.balls {
    display: -webkit-box;
    display: -moz-box;
    display: -o-box;
    display: box;
}
.balls .ball{
    -webkit-box-flex:1;
    -moz-box-flex:1;
    -o-box-flex:1;
    box-flex:1;
}
.balls .ball.unvisible span{
    visibility: hidden;
}
.ball span {
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    -webkit-transition:background-color .25s ease-out;
    -moz-transition:background-color .25s ease-out;
    -o-transition:background-color .25s ease-out;
    transition:background-color .25s ease-out;
}

.red.ball span {
    background-color: #ff3c3d;
    color: #fff;
}

.blue.ball span {
    background-color: #00b2ff;
    color: #fff;
}

.ajax-loading {
    color: #999;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: none;
}

.ajax-loading img {
    width: 1.25rem;
}
.foot-nav{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 100;
    background-color: #fff;
}
