body{
    overflow-x: hidden;
}
@media(min-width:375px){
    .ball span{
        width: 2.75rem;
        height: 2.75rem;
        line-height: 2.75rem;
    }
    .index-page .modal-rule{
        bottom: -15%!important;
    }
}
.how-date {
    color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    overflow: hidden;
}

.how-date span {
    display: inline-block;
    position: relative;
    height: 2rem;
    margin-right: 10%;
    -webkit-transform: skew(-10deg);
    -moz-transform: skew(-10deg);
    -o-transform: skew(-10deg);
    transform: skew(-10deg);
    line-height: 2rem;
}

.how-date span i:nth-child(2) {
    background-color: #ff796f;
    position: relative;
    z-index: 2;
    padding-left: .5rem;
    padding-right: .5rem;
    height: 2rem;
    display: block;
}

.how-date span:before, .how-date span:after {
    content: "";
    position: absolute;
    height: 100%;
    background-color: #fa594d;
    top: .25rem;
    z-index: -2;
    -webkit-transform: skew(-10deg);
    -moz-transform: skew(-10deg);
    -o-transform: skew(-10deg);
    transform: skew(-10deg);
}

.how-date span:before {
    width: 20%;
    left: -16%;
}

.how-date span:after {
    width: 20%;
    right: -16%
}

.how-date span i:first-child, .how-date span i:last-child {
    position: absolute;
    z-index: 1;
    top: .25rem;
    height: 2rem;
    width: 2rem;
    background-color: #fff;
    -webkit-transform: rotate(48deg) skew(30deg);
    -moz-transform: rotate(48deg) skew(30deg);
    -o-transform: rotate(48deg) skew(30deg);
    transform: rotate(48deg) skew(30deg);
}

.how-date span i:first-child {
    left: -26%;
}

.how-date span i:last-child {
    border-right-color: #fff;
    right: -26%;
    -webkit-transform: rotate(-40deg) skew(-10deg);
    -moz-transform: rotate(-40deg) skew(-10deg);
    -o-transform: rotate(-40deg) skew(-10deg);
    transform: rotate(-40deg) skew(-10deg);
}

.reward-status {
    position: relative;
    height: 12rem;
    line-height: 12rem;
}
.reward-status img{
    max-width: 45%;
}
.reward-status img.ico-sad{
    max-width: 38%
}
.reward-status span {
    background-color: #0ea9eb;
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}

.reward-status span:before, .reward-status span:after {
    content: "";
    position: absolute;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    top: 0;
    left: 50%;
    margin-left: -45%;
    line-height: 4.5rem;
    text-align: center;
}

.reward-status span:before {
    background-color: #1cb2f3;
    top: 3%;
}

.reward-status span:after {
    content: "8";
    width: 75%;
    height: 75%;
    margin-left: -37.5%;
    background-color: #58cafb;
    color: #96e1fe;
    line-height: 4.5rem;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

.reward-status span.blue:after {
    line-height: 3.75rem;
    top: 7%;
}

.reward-status span.blue {
    width: 5rem;
    height: 5rem;
    font-size: 3rem;
    left: 38%;
    margin-left: -2.5rem;
    top: 3.5rem;
}

.reward-status span.red {
    background-color: #ff593e;
    width: 6rem;
    height: 6rem;
    font-size: 3rem;
    left: 50%;
    margin-left: -3rem;
    top: 2.75rem;
}

.reward-status span.red:before {
    background-color: #ff8870;
    top: 3%;
}

.reward-status span.red:after {
    top: 5%;
    background-color: #ffa78f;
    content: "8";
    color: #fe6d56;
    line-height: 4.5rem;
    font-style: italic;
    text-align: center;
    font-weight: bold;
}

.reward-status span.yellow {
    background-color: #ffb64d;
    width: 5rem;
    height: 5rem;
    font-size: 3rem;
    left: 60%;
    margin-left: -2.5rem;
    top: 3.5rem;
}

.reward-status span.yellow:before {
    background-color: #ffc26b;
    top: 3%;
}

.reward-status span.yellow:after {
    background-color: #ffdb8f;
    color: #ffc62e;
    line-height: 3.75rem;
    top: 5%;
}

.reward-status .shadow {
    position: absolute;
    width: 60%;
    height: 1rem;
    left: 50%;
    top: 9rem;
    background-color: #f6f6f6;
    margin-left: -30%;
    border-radius: 50%;
}

.reward-status .shadow:before, .reward-status .shadow:after {
    content: "";
    position: absolute;
    width: 75%;
    height: 75%;
    left: 50%;
    border-radius: 50%;
    margin-left: -37.5%;
    background-color: #eaeaea;
}

.reward-status .shadow:after {
    width: 50%;
    height: 50%;
    left: 50%;
    margin-left: -25%;
    background-color: #e1e1e1;
}

.reward-status span.sm {
    width: 2rem;
    height: 2rem;
    font-size: 1.25rem;
}

.reward-status span.sm:after {
    line-height: 1.25rem;
    text-align: left;
}

.reward-status span.left {
    left: 15%;
    margin-left: 0;
}

.reward-status span.left.blue {
    top: .25rem;
    left: 25%;
    width: 1.5rem;
    height: 1.5rem;
}

.reward-status span.left.blue:after {
    content: "";
}

.reward-status span.left.red {
    top: 3rem;
}

.reward-status span.blue.right {
    right: 3rem;
    left: auto;
    top: 6.25rem;
}

.reward-status .shadow.sm {
    width: 5%;
    height: .25rem;
    background-color: #f6f6f6;
    margin-left: 0;
}

.reward-status .shadow.sm:before, .reward-status .shadow.sm:after {
    display: none;
}

.reward-status .shadow:nth-of-type(2) {
    top: 1.85rem;
    left: 25%;
    margin-left: 0;
}

.reward-status .shadow:nth-of-type(3) {
    top: 5.15rem;
    left: 15%;
    width: 7%;
}

.reward-status .shadow:nth-of-type(4) {
    left: auto;
    right: 3rem;
    top: 8.45rem;
    width: 7%;
}
@-webkit-keyframes jump{
    0%{
        -webkit-transform:translateY(-100%);
        opacity:0
    }
    65%{
        -webkit-transform:translateY(0);
        opacity:1;
    }
    70%{
        -webkit-transform:translateY(-50%);
        opacity:1;
    }
    75%{
        -webkit-transform:translateY(0);
        opacity:1;
    }
    80%{
        -webkit-transform:translateY(-30%);
        opacity:1;
    }
    85%{
        -webkit-transform:translateY(0);
        opacity:1;
    }
    90%{
        -webkit-transform:translateY(-10%);
        opacity:1;
    }
    100%{
        -webkit-transform:translateY(0);
        opacity:1;
    }
}
@-moz-keyframes jump{
    0%{
        -moz-transform:translateY(-100%);
        opacity:0
    }
    65%{
        -moz-transform:translateY(0);
        opacity:1;
    }
    70%{
        -moz-transform:translateY(-50%);
        opacity:1;
    }
    75%{
        -moz-transform:translateY(0);
        opacity:1;
    }
    80%{
        -moz-transform:translateY(-30%);
        opacity:1;
    }
    85%{
        -moz-transform:translateY(0);
        opacity:1;
    }
    90%{
       -moz-transform:translateY(-15%);
        opacity:1;
    }
    100%{
        -moz-transform:translateY(0);
        opacity:1;
    }
}
@-o-keyframes jump{
    0%{
        -o-transform:translateY(-100%);
        opacity:0
    }
    65%{
        -o-transform:translateY(0);
        opacity:1;
    }
    70%{
        -o-transform:translateY(-50%);
        opacity:1;
    }
    75%{
        -o-transform:translateY(0);
        opacity:1;
    }
    80%{
        -o-transform:translateY(-30%);
        opacity:1;
    }
    85%{
        -o-transform:translateY(0);
        opacity:1;
    }
    90%{
        -o-transform:translateY(-15%);
        opacity:1;
    }
    100%{
        -o-transform:translateY(0);
        opacity:1;
    }
}
@keyframes jump{
    0%{
        transform:translateY(-100%);
        opacity:0
    }
    65%{
        transform:translateY(0);
        opacity:1;
    }
    70%{
        transform:translateY(-50%);
        opacity:1;
    }
    75%{
        transform:translateY(0);
        opacity:1;
    }
    80%{
        transform:translateY(-30%);
        opacity:1;
    }
    85%{
        transform:translateY(0);
        opacity:1;
    }
    90%{
        transform:translateY(-15%);
        opacity:1;
    }
    100%{
        transform:translateY(0);
        opacity:1;
    }
}
.anima-jump{
    -webkit-animation: jump 3s ease 0s 1 normal forwards;
    -moz-animation: jump 3s ease 0s 1 normal forwards;
    -o-animation: jump 3s ease 0s 1 normal forwards; 
    animation: jump 3s ease 0s 1 normal forwards;
}
.blue.anima-jump{
    -webkit-animation-delay:.5s;
    -moz-animation-delay:.5s;
    -o-animation-delay:.5s;
    animation-delay:.5s;
}
.yellow.anima-jump{
    -webkit-animation-delay:.75s;
    -moz-animation-delay:.75s;
    -o-animation-delay:.75s;
    animation-delay:.75s;
}
@-webkit-keyframes scale{
    0%{
        -webkit-transform:scale(1);
        opacity:0;
    }
    50%{
        -webkit-transform:scale(1.5);
        opacity:.5;
    }
    75%{
        -webkit-transform:scale(.5);
        opacity:.75
    }
    100%{
        -webkit-transform:scale(1);
        opacity:1
    }
}
@-moz-keyframes scale{
    00%{
        -moz-transform:scale(1);
        opacity:0;
    }
    50%{
        -moz-transform:scale(1.5);
        opacity:.5;
    }
    75%{
        -moz-transform:scale(.5);
        opacity:.75;
    }
    100%{
        -moz-transform:scale(1);
        opacity:1;
    }
}
@-o-keyframes scale{
    0%{
        -o-transform:scale(1);
        opacity:0
    }
    50%{
        -o-transform:scale(1.5);
        opacity:.5;
    }
    75%{
        -o-transform:scale(.5);
        opacity:.75;
    }
    100%{
        -o-transform:scale(1);
        opacity:1;
    }
}
@keyframes scale{
    0%{
        transform:scale(1);
        opacity:0;
    }
    50%{
        transform:scale(1.5);
        opacity:.5
    }
    75%{
        transform:scale(.5);
        opacity:.75;
    }
    100%{
        transform:scale(1);
        opacity:1;
    }
}
.shadow.anima-scale{
    -webkit-transition:.5s;
    -moz-transition:.5s;
    -o-transition:.5s;
    transition:.5s;
    -webkit-animation:scale 1.5s ease .75s 1 normal forwards;
    -moz-animation:scale 1.5s ease .75s 1 normal forwards;
    -o-animation:scale 1.5s ease .75s 1 normal forwards;
    animation:scale 1.5s ease .75s 1 normal forwards;
}
@-webkit-keyframes opacity{
    0%{
        opacity:0
    }
    25%{
        opacity:.75
    }
    55%{
        opacity:.25
    }
    75%{
        opacity:.5
    }
    100%{
        opacity:1
    }
}
@-moz-keyframes opacity{
    0%{
        opacity:0
    }
    25%{
        opacity:.75
    }
    55%{
        opacity:.25
    }
    75%{
        opacity:.5
    }
    100%{
        opacity:1
    }
}
@-o-keyframes opacity{
    0%{
        opacity:0
    }
    25%{
        opacity:.75
    }
    55%{
        opacity:.25
    }
    75%{
        opacity:.5
    }
    100%{
        opacity:1
    }
}
@keyframes opacity{
    0%{
        opacity:0
    }
    25%{
        opacity:.75
    }
    55%{
        opacity:.25
    }
    75%{
        opacity:.5
    }
    100%{
        opacity:1
    }
}
.sm.anima-opa{
    -webkit-transition:.5s;
    -moz-transition:.5s;
    -o-transition:.5s;
    transition:.5s;
    -webkit-animation:opacity 1s ease 2.5s 1 normal forwards;
    -moz-animation:opacity 1s ease 2.5s 1 normal forwards;
    -o-animation:opacity 1s ease 2.5s 1 normal forwards;
    animation:opacity 1s ease 2.5s 1 normal forwards;
}
.sm.anima-opa.blue.left{
    -webkit-animation-delay:2.75s;
    -moz-animation-delay:2.75s;
    -o-animation-delay:2.75s;
    animation-delay:2.75s;
}
.sm.anima-opa.blue.right{
    -webkit-animation-delay:3s;
    -moz-animation-delay:3s;
    -o-animation-delay:3s;
    animation-delay:3s;
}
.reward-status .sm{
    opacity:0
}
.reward-text{
    color: #ff3c2d;
}
.reward-text p:first-child{
    font-size: 1.5rem
}
.btn-buy-again{
    background-color: #ff3c2d;
    color:#fff;
}
.btn-buy-again:focus,
.btn-buy-again:hover{
    color: #fff;
}
.btn-back,
.btn-get-reward{
    border: .1rem solid #ff3c2d;
    background-color: #fff;
    color:#ff3c2d;
}
.btn-back:focus,
.btn-back:hover,
.btn-get-reward:focus,
.btn-get-reward:hover{
    color: #ff3c2d;
}
.balls{
    padding-top:.75rem;
    padding-bottom:.75rem;
    margin-bottom:.75rem;
    border-bottom:.1rem dotted #ccc;
    line-height: normal;
}
.balls .ball{
    text-align:center;
}
.balls .ball:last-child{
    -webkit-box-flex:2;
    -moz-box-flex:2;
    -o-box-flex:2;
    box-flex:2;
    text-align:right;
}
.my.balls{
    border-bottom:0 none;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: .5rem; 
}
.my.balls:first-child{
    padding-top: .75rem;
}
.my.balls:last-child{
    border-bottom:.1rem dotted #ccc; 
    margin-bottom: .75rem;
    padding-bottom: .75rem;
}
.my.balls .ball:last-child{
    -webkit-box-flex:1;
    -moz-box-flex:1;
    -o-box-flex:1;
    box-flex:1;
    text-align: center;
}
.my.balls .ball span{
    border-width: .1rem;
    border-style: solid;
    background-color:transparent;
}
.my.balls .ball.red span{
    color:#ff3c2d;
    border-color:#ff3c2d;
}
.my.balls .ball.blue span{
    color:#00b2ff;
    border-color:#00b2ff;
}
.my.balls .ball.red.active span{
    background-color:#ff3c2d;
    color:#fff
}
.my.balls .ball.blue.active span{
    background-color:#00b2ff;
    color:#fff;
}
.foot-nav{
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #fff;
}
.list{
    padding-bottom:5rem;
}
.item{
    margin-bottom: 1rem;
}