include header
		form.form-signin(action='upload?c=uploadAction', method='post',ENCTYPE='multipart/form-data')
			h2.form-signin-heading IMAGE SIZE
			input.input-block-level(type="text", placeholder="width", name="width")
			input.input-block-level(type="text", placeholder="height", name="height")
			div 
				input.input-block-level(type="radio", value="1", name="type")
				| 比例缩减
			div 
				input.input-block-level(type="radio", value="2", name="type") 
				| 剪切
			input(type="file", name="image")
			button.btn.btn-large.btn-primary(type="submit")
				| UPLOAD IMAGE
include footer