<!DOCTYPE html>
<html lang="en">
<head>
    @@include('publicFront.app/src/meta.html',{"title":"投注详情"})
    <link rel="stylesheet" type="text/css" href="{{domains.sld}}/publicFront/css/marklbp.min.css">
    <link rel="stylesheet" href="{{domains.scdn}}/wap/css/reset.min.css">
    <!-- build:css css/indexC.min.css -->
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" type="text/css" href="css/indexC.css">
    <!-- endbuild -->
</head>
<body>
    <p class="ajax-loading text-center">
        <span><img src="{{domains.sld}}/publicFront/img/abs_load_33X33.gif">加载中...</span>
        <span></span>
    </p>
    <script type="text/template" id="tpl">
    <%
        var notReward    = !page && !success;
        var rewardAndGet = !page && success && get;
        var rewardNotGet = !page && success && !get;
        var orderOk      = page && success;
        var orderErr     = page && !success;
        var orders       = obj.data || [obj];
        var cost         = obj.cost || ('投注'+obj.expendCounp+'宝券（'+obj.message+'）');
        var message      = obj.message;
        var currentDate  = obj.currentDate || obj.bettingDates;
        var rewardRed    = (obj.lotteryReds||'').split(',')||[];
        var rewardBlue   = obj.lotteryBlue;  
    %>
	<p class="text-right how-date"><span><i></i><i>双色球 第<%=currentDate%>期</i><i></i></span></p>
	<div class="reward-status text-center">
        <%
            if(rewardAndGet||rewardNotGet){
                //已中奖显示
        %>
        <div>
    		<span class="blue anima-jump"></span>
    		<span class="yellow anima-jump"></span>
    		<span class="red anima-jump"></span>
            <span class="red sm left anima-opa"> </span>
            <span class="blue sm right anima-opa"></span>
            <span class="blue sm left anima-opa"></span>
            <i class="shadow anima-scale"></i>
            <i class="shadow sm"></i>
            <i class="shadow sm"></i>
            <i class="shadow sm"></i>
        </div>
        <%
            }
            if(orderErr||notReward){
        %>
        <img src="img/ico-sad.png" class="ico-sad">
        <%
            }
            if(orderOk){ 
        %>
        <img src="img/ico-order.png">
        <%
            }
        %>
	</div>
    <div class="reward-text text-center">
        <p><%=message%></p>
        <p><%=cost%></p>
    </div>
    <%
        if((notReward||rewardAndGet||rewardNotGet)&&rewardRed.length>0){
            //未中奖 | 已领奖 | 中奖且未领奖
    %>
    <div class="row row-normal">
        <div class="col-xs-12">
            <p style="border-top: .1rem dotted #ccc;padding-top:.75rem;margin-top: 1.5rem;">开奖号码：</p>
            <div class="balls">
    <%
                $.each(rewardRed,function(i,v){
    %>
                <div class="ball red"><span><%= v >= 10 ? v : '0'+v%></span></div>
    <%
                })
    %>
                <div class="ball blue"><span><%=rewardBlue >= 10 ? rewardBlue : '0' + rewardBlue%></span></div>
            </div>
        </div>
    </div>
    <%
        }
        if(orders){
    %>
    <div class="row row-normal list">
        <div class="col-xs-12">
            <p>我的投注：</p>
    <%
            var red,blue,orderId,orderTime,date,mutiple,leng,aClass='';
            $.each(orders,function(i,order){
                red  = order.reds.split(",");
                blue = order.blues.split(",");
                orderId = order.orderId;
                orderTime = orderId && Marklbp.formatTime(order.paymentDate);
                date = order.bettingDates;
                mutiple = order.bettingMutiple;
                bets = Marklbp.calCombination(red.length,6) * Marklbp.calCombination(blue.length,1);
                leng = red.length + blue.length;
    %>
            <div class="item">
            <div class="my balls">
    <%
                $.each(red,function(i,v){
                    aClass = rewardRed.indexOf(v)>-1?' active':'';
    %>
                <div class="ball red<%=aClass%>"><span><%= v >= 10 ? v : '0'+v%></span></div>
    <%
                    if((i+1)%7 == 0){
    %>
            </div>
            <div class="my balls">
    <%
                    }
                })
                $.each(blue,function(i,v){
                    aClass = rewardBlue&&rewardBlue.indexOf(v)>-1?' active':'';
    %>
                <div class="ball blue<%=aClass%>"><span><%= v >= 10 ? v : '0'+v%></span></div>
    <%
                    if((i+1+red.length)% 7 == 0 && i < blue.length-1){
    %>
            </div>
            <div class="my balls">
    <%
                    }
                })
                for(var i = 0; i < 7 - leng % 7 && leng % 7 > 0; i++){
    %>
                <div class="ball unvisible"><span></span></div>
    <%
                }
    %>
            </div>
    <%
                if(orderId){
    %>
            <p>订单号：<%=orderId%></p>
            <p>支付时间：<%=orderTime%></p>
            <p>追加期数：<%=date%></p>
            <p><%=bets>1?'复式':'单式'%>，<%=bets%>注，<%=mutiple%>倍</p>
    <%
                }
    %>
            </div>
    <%
            })
    %>
        </div>
    </div>
    <%
        }
    %>
    <div class="row row-normal foot-nav">
        <%
            if(rewardAndGet||orderOk||notReward){
                //中奖已领取 | 下单成功 | 未中奖
        %>
        <div class="col-xs-12">
            <button class="btn btn-block btn-lg btn-buy-again">继续购买</button>
        </div>
        <%  
            }
            if(rewardNotGet){
                //中奖未领取
        %>
        <div class="col-xs-6">
            <button class="btn btn-lg btn-block btn-get-reward">获取奖励</button>
        </div>
        <div class="col-xs-6">
            <button class="btn btn-lg btn-block btn-buy-again">继续购买</button>
        </div>
        <%  
            }
        %>
    </div>
    </script>
    @@include("publicFront.app/src/wap.script.html")
    <!-- build:js js/indexC.min.js -->
    <script type="text/javascript" src="js/cfg.js"></script>
    <script type="text/javascript" src="js/indexC.js"></script>
    <!-- endbuild -->
</body>
</html>