<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>layout | make it simple</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/plugins/fonts/awesome/css/awesome.css">
    <link rel="stylesheet" type="text/css" href="/plugins/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
	<ul></ul>
  <script type="text/javascript" src="/plugins/jquery/1.11.3/jquery.min.js"></script>
   <script type="text/javascript" src="/plugins/bootstrap/3.3.5/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="/js/marklbp.js"></script>
   <script>
     var links = [
      {url: 'denggao', text: '登高布局'},
      {url: 'zhezhi2', text: '折纸布局原理'},
      {url: 'zhezhi', text: '折纸布局'},
      {url: 'animate-ellipsis-loading', text: 'css动画实现省略号动画'}
     ]
   </script>
</body>
</html>