@import "~assets/scss/base/_base";

.is-danger {
  color: $lx-error-color;
  font-size: $lx-title-base-font-size;
  // position: absolute;
  // top: 100%;
  // left: 0;
  &.help {
    position: absolute;
    top: 100%;
    padding: 4px 0 0 0;
    line-height: 1;
    left: 130px;
  }
  .el-input__inner,
  .el-input__inner:focus,
  .el-textarea__inner,
  .el-textarea__inner:focus {
    border-color: $lx-error-color !important;
  }
}

.vee-control {
  .el-form-item__label {
    &:before {
      content: "*";
      color: $lx-error-color;
      margin-right: 4px;
    }
  }
}
