html,body{
    font-family: microsoft yahei,Heiti SC
}
.site_frame_top,
.site_frame_top *,
.site_frame_head,
.site_frame_head *,
.site_frame_menus,
.site_frame_menus *,
.site_frame_foot,
.site_frame_foot *{
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -o-box-sizing:content-box;
    box-sizing: content-box;
}
.site_frame_top ul,
.site_frame_head ul,
.site_frame_menus ul,
.site_frame_foot ul{
    list-style: none;
    padding: 0;
    margin: 0
}
.site_frame_top em,
.site_frame_head em,
.site_frame_menus em,
.site_frame_foot em{
    font-style: normal;
}
/*PC端弹出框布局*/

.modal-pc-express .loading,
.modal-wap-express .loading {
    background: url(../img/abs_load_33X33.gif) left center no-repeat;
    padding-left: 40px;
    height: 33px;
    line-height: 33px;
    color:#999;
    font-size: 16px;
    position: static;
}

.modal-exchange-dialog .btn:focus {
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
}

.modal-pc-express .modal-dialog {
    width: 500px;
}

.modal-pc-express .modal-exchange-dialog {
    border-top: 1px dashed #ddd;
    margin-top: 20px;
    text-align: center;
    padding: 35px 0;
    font-family: '微软雅黑';
    color: #666;
}

.modal-pc-express .text {
    color: #333;
    font-size: 18px
}

.modal-pc-express .access p {
    margin: 20px 0;
}

.modal-pc-express .red {
    color: #fc472e;
}

.modal-pc-express .btn {
    background: #fc472e;
    border-radius: 3px;
    color: #fff;
    width: 100px;
    margin: 30px 10px 0;
}

.modal-pc-express .btn-ax {
    background: #2293ea;
}

.modal-pc-express .btn-grey {
    background: #e5e6eb;
    color: #333;
}

.modal-pc-express .icon {
    width: 80px;
    height: 81px;
    margin: 0 auto 35px;
    background: url(../img/icon-ok.png) no-repeat;
}

.modal-pc-express .icon-err {
    background: url(../img/icon-err.png) no-repeat;
}


/*Wap端弹出框布局*/

.modal-wap-express .modal-dialog {
    width: 80%;
    margin: 2rem auto;
}

.modal-wap-express .modal-exchange-dialog {
    margin-top: 1rem;
    text-align: center;
    padding: 1rem 0;
    font-family: '微软雅黑';
    color: #666;
    font-size: 1rem;
}

.modal-wap-express .text {
    color: #333;
    font-size: 1.6rem;
    margin:0!important;
}

.modal-wap-express .access p {
    margin: 1rem 0;
}

.modal-wap-express .red {
    color: #fc472e;
}

.modal-wap-express .btn {
    background: #fd472b;
    border-radius: 1.5rem;
    color: #fff;
    width: 45%;
    height: 3rem;
    line-height: 3rem;
    padding: 0;
    margin: 1rem 0.3rem 0;
}

.modal-wap-express .btn-ax {
    background: #fff;
    color: #fd472b;
    border: 1px solid #fd472b;
}

.modal-wap-express .btn-grey {
    background: #e5e6eb;
    color: #333;
}

.modal-wap-express .btn-long {
    width: 90%;
}

.modal-wap-express .icon {
    width: 5rem;
    height: 5rem;
    margin: 0 auto 2rem;
    background: url(../img/icon-ok.png) no-repeat;
    background-size: 100%;
}

.modal-wap-express .icon-err {
    background: url(../img/icon-err.png) no-repeat;
    background-size: 100%;
}


/*快捷支付兑换框*/

.modal-wap-exchange .modal-dialog {
    width: 80%;
    margin: 2rem auto;
}

.modal-wap-exchange .modal-exchange-dialog {
    text-align: center;
    padding: 1rem 0;
    font-family: '微软雅黑';
    color: #666;
    font-size: 1rem;
}

.modal-wap-exchange .text {
    color: #333;
    font-size: 1.6rem;
}

.modal-wap-exchange .text input {
    width: 12rem;
}

.modal-wap-exchange .access p {
    margin: 1rem 0;
    color: #999;
}

.modal-wap-exchange .red {
    color: #fc472e;
}

.modal-wap-exchange .btn {
    background: #fd472b;
    border-radius: 1.5rem;
    color: #fff;
    width: 45%;
    height: 3rem;
    line-height: 3rem;
    padding: 0;
    margin: 1rem 0.3rem 0;
}

.modal-wap-exchange .btn-ax {
    background: #fff;
    color: #fd472b;
    border: 1px solid #fd472b;
}

.modal-wap-exchange .btn-grey {
    background: #e5e6eb;
    color: #333;
}

.modal-tip .modal-dialog{
    width: 75%;
    margin-left: auto;
    margin-top: auto;
    color: #fff;
}

.modal-tip .modal-content{
    background-color: rgba(0,0,0,.75);
}
.site_frame_top {
    min-height: 30px;
}
.site_frame_foot{
    min-height:420px
}