@font-face {
  font-family: 'ross_portal'; /* project id 1191147 */
  src: url('//at.alicdn.com/t/font_1191147_h5cp2j2pj1b.eot');
  src: url('//at.alicdn.com/t/font_1191147_h5cp2j2pj1b.eot?#iefix')
      format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1191147_h5cp2j2pj1b.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1191147_h5cp2j2pj1b.woff') format('woff'),
    url('//at.alicdn.com/t/font_1191147_h5cp2j2pj1b.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1191147_h5cp2j2pj1b.svg#iconfont') format('svg');
}

[class*=' font-icon'],
[class^='font-icon'] {
  font-family: ross_portal !important;
  font-size: 16px;
  font-style: normal;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-icon {
  // old icon-font start
  &.icon-jingdong:before {
    content: '\e649';
  }

  &.icon-tianmao:before {
    content: '\e6e4';
  }

  &.icon-analytics:before {
    content: '\e619';
  }

  &.icon-arrow-right:before {
    content: '\e61b';
  }

  &.icon-arrow-left:before {
    content: '\e61e';
  }

  &.icon-classify:before {
    content: '\e623';
  }

  &.icon-clock:before {
    content: '\e625';
  }

  &.icon-delete:before {
    content: '\e62d';
  }

  &.icon-down-triangle:before {
    content: '\e630';
  }

  &.icon-edit:before {
    content: '\e631';
  }

  &.icon-download:before {
    content: '\e635';
  }

  &.icon-filter:before {
    content: '\e64b';
  }

  &.icon-search:before {
    content: '\e65a';
  }

  &.icon-setting:before {
    content: '\e65b';
  }

  &.icon-shop:before {
    content: '\e65d';
  }

  &.icon-time:before {
    content: '\e670';
  }

  &.icon-upload:before {
    content: '\e673';
  }

  &.icon-down:before {
    content: '\e684';
  }

  &.icon-close:before {
    content: '\e685';
  }

  &.icon-article:before {
    content: '\e69d';
  }

  &.icon-record:before {
    content: '\e6a1';
  }

  &.icon-more-horizontal:before {
    content: '\e6a5';
  }

  &.icon-more-vertical:before {
    content: '\e6a6';
  }

  &.icon-picture:before {
    content: '\e6a7';
  }

  &.icon-yunying:before {
    content: '\e6b1';
  }

  &.icon-single-left:before {
    content: '\e6b3';
  }

  &.icon-export:before {
    content: '\e6b8';
  }

  &.icon-import:before {
    content: '\e6b9';
  }

  &.icon-batch:before {
    content: '\e6bb';
  }

  &.icon-new-menu-fold:before {
    content: '\e6ba';
  }

  &.icon-new-menu-unfold:before {
    content: '\e6bd';
  }

  &.icon-excel:before {
    content: '\e6be';
  }

  &.icon-xiaohongshuicon:before {
    content: '\e6c6';
  }

  &.icon-douyin:before {
    content: '\e608';
  }

  &.icon-ziyuan:before {
    content: '\e629';
  }

  &.icon-drag:before {
    content: '\e6e7';
  }

  &.icon-folder:before {
    content: '\e6e9';
  }

  &.icon-buya_saleb:before {
    content: '\e6ea';
  }

  &.icon-view-cardlist:before {
    content: '\e6f9';
  }

  &.icon-view-list:before {
    content: '\e6fa';
  }

  &.icon-add-o:before {
    content: '\e6fc';
  }

  &.icon-larger-view:before {
    content: '\e701';
  }

  &.icon-upload-cloud:before {
    content: '\e703';
  }

  &.icon-pim-pdp-manage:before {
    content: '\e702';
  }

  &.icon-info-new:before {
    content: '\e707';
  }

  &.icon-total-info:before {
    content: '\e708';
  }

  &.icon-up:before {
    content: '\e709';
  }

  &.icon-pim-record:before {
    content: '\e6ff';
  }

  &.icon-error-o:before {
    content: '\e713';
  }

  &.icon-success-o:before {
    content: '\e714';
  }

  &.icon-drag-arrow:before {
    content: '\e715';
  }

  &.icon-multi-img:before {
    content: '\e716';
  }

  &.icon-pinduoduo:before {
    content: '\e60a';
  }

  &.icon-repeatx:before {
    content: '\e65e';
  }

  &.icon-tixingx-copy:before {
    content: '\e717';
  }

  &.icon-xingzhuangx:before {
    content: '\e65f';
  }

  &.icon-officalwebsite:before {
    content: '\e677';
  }

  &.icon-wangyikaola:before {
    content: '\e6ab';
  }

  &.icon-weitaoguanli-x:before {
    content: '\e66d';
  }

  &.icon-juhuasuanx:before {
    content: '\e66e';
  }

  &.icon-tianmaox:before {
    content: '\e66f';
  }

  &.icon-butixingx:before {
    content: '\e719';
  }

  &.icon-buzhongfux:before {
    content: '\e672';
  }
}
