@font-face {
  font-family: ross_portal;
  src: url(//at.alicdn.com/t/font_662309_bg41alctk76.eot);
  src: url(//at.alicdn.com/t/font_662309_bg41alctk76.eot#iefix) format("embedded-opentype"),
       url(//at.alicdn.com/t/font_662309_bg41alctk76.woff) format("woff"),
       url(//at.alicdn.com/t/font_662309_bg41alctk76.ttf) format("truetype"),
       url(//at.alicdn.com/t/font_662309_bg41alctk76.svg#unex) format("svg")
}

[class*=" font-icon"],[class^=font-icon] {
  font-family: ross_portal!important;
  font-size: 1rem;
  font-style: normal;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
.font-icon{
  &.analytics:before {
    content: "\E619"
  }

  &.applet-peyment:before {
    content: "\E61A"
  }

  &.arrow-right:before {
    content: "\E61B"
  }

  &.arrow-up:before {
    content: "\E61C"
  }

  &.add:before {
    content: "\E61D"
  }

  &.arrow-left:before {
    content: "\E61E"
  }

  &.app-payment:before {
    content: "\E621"
  }

  &.classify:before {
    content: "\E623"
  }

  &.clock:before {
    content: "\E625"
  }

  &.create-Ta:before {
    content: "\E626"
  }

  &.copy:before {
    content: "\E628"
  }

  &.arrows-alt:before {
    content: "\E62A"
  }

  &.delete:before {
    content: "\E62D"
  }

  &.discount-sales:before {
    content: "\E62E"
  }

  &.down-triangle:before {
    content: "\E630"
  }

  &.edit:before {
    content: "\E631"
  }

  &.enter:before {
    content: "\E632"
  }

  &.error:before {
    content: "\E633"
  }

  &.download:before {
    content: "\E635"
  }

  &.eye:before {
    content: "\E636"
  }

  &.flag:before {
    content: "\E637"
  }

  &.fold:before {
    content: "\E638"
  }

  &.free-shipping:before {
    content: "\E63A"
  }

  &.home:before {
    content: "\E63B"
  }

  &.html:before {
    content: "\E63C"
  }

  &.label:before {
    content: "\E63D"
  }

  &.left-circle:before {
    content: "\E63E"
  }

  &.heart-o:before {
    content: "\E63F"
  }

  &.gift:before {
    content: "\E640"
  }

  &.link:before {
    content: "\E641"
  }

  &.lock:before {
    content: "\E642"
  }

  &.membership:before {
    content: "\E643"
  }

  &.in-person-peyment:before {
    content: "\E647"
  }

  &.notice:before {
    content: "\E648"
  }

  &.order:before {
    content: "\E649"
  }

  &.password:before {
    content: "\E64A"
  }

  &.filter:before {
    content: "\E64B"
  }

  &.message:before {
    content: "\E64C"
  }

  &.putaway:before {
    content: "\E64E"
  }

  &.permission:before {
    content: "\E64F"
  }

  &.recommend:before {
    content: "\E651"
  }

  &.rebates:before {
    content: "\E652"
  }

  &.payment:before {
    content: "\E654"
  }

  &.refund:before {
    content: "\E655"
  }

  &.safety:before {
    content: "\E656"
  }

  &.right-circle:before {
    content: "\E657"
  }

  &.scan-peyment:before {
    content: "\E659"
  }

  &.search:before {
    content: "\E65A"
  }

  &.setting:before {
    content: "\E65B"
  }

  &.shop-authority:before {
    content: "\E65C"
  }

  &.shop:before {
    content: "\E65D"
  }

  &.shopping-cart:before {
    content: "\E65E"
  }

  &.shopping-bag:before {
    content: "\E660"
  }

  &.shrink:before {
    content: "\E662"
  }

  &.soldout:before {
    content: "\E663"
  }

  &.sort:before {
    content: "\E664"
  }

  &.station:before {
    content: "\E665"
  }

  &.swap-left:before {
    content: "\E666"
  }

  &.swap-right:before {
    content: "\E667"
  }

  &.stop:before {
    content: "\E668"
  }

  &.system-menu:before {
    content: "\E669"
  }

  &.shop-setting:before {
    content: "\E66A"
  }

  &.sound:before {
    content: "\E66C"
  }

  &.success:before {
    content: "\E66D"
  }

  &.systenuser-authority:before {
    content: "\E66E"
  }

  &.thumbnail:before {
    content: "\E66F"
  }

  &.time:before {
    content: "\E670"
  }

  &.unlock:before {
    content: "\E671"
  }

  &.upload:before {
    content: "\E673"
  }

  &.user-add:before {
    content: "\E674"
  }

  &.user-delete:before {
    content: "\E675"
  }

  &.tenant-setting:before {
    content: "\E676"
  }

  &.wapsite-payment:before {
    content: "\E677"
  }

  &.swap:before {
    content: "\E678"
  }

  &.website-payment:before {
    content: "\E67A"
  }

  &.tenant-authority:before {
    content: "\E67B"
  }

  &.wechat-logo:before {
    content: "\E67C"
  }

  &.warn:before {
    content: "\E67D"
  }

  &.wechat-service:before {
    content: "\E67E"
  }

  &.eye-o:before {
    content: "\E67F"
  }

  &.sales-management:before {
    content: "\E680"
  }

  &.vs-settings:before {
    content: "\E681"
  }

  &.webbased-payment:before {
    content: "\E682"
  }

  &.single:before {
    content: "\E661"
  }

  &.down:before {
    content: "\E684"
  }

  &.close:before {
    content: "\E685"
  }

  &.check:before {
    content: "\E686"
  }

  &.cms:before {
    content: "\E687"
  }

  &.bundles:before {
    content: "\E688"
  }

  &.coupons-style:before {
    content: "\E689"
  }

  &.coupons-style1:before {
    content: "\E68A"
  }

  &.coupons-style2:before {
    content: "\E68B"
  }

  &.video-play:before {
    content: "\E68C"
  }

  &.crown:before {
    content: "\E68D"
  }

  &.menu-fold:before {
    content: "\E68F"
  }

  &.shopping-bag-square:before {
    content: "\E690"
  }

  &.menu-unfold:before {
    content: "\E692"
  }

  &.markdown-sales:before {
    content: "\E691"
  }

  &.user:before {
    content: "\E693"
  }

  &.red-packets:before {
    content: "\E694"
  }

  &.adjust:before {
    content: "\E695"
  }

  &.slide:before {
    content: "\E696"
  }

  &.evaluate:before {
    content: "\E697"
  }

  &.catalog:before {
    content: "\E698"
  }

  &.level:before {
    content: "\E699"
  }

  &.frame:before {
    content: "\E69A"
  }

  &.promo-type:before {
    content: "\E69B"
  }

  &.article:before {
    content: "\E69D"
  }

  &.cancel:before {
    content: "\E683"
  }

  &.exchange:before {
    content: "\E69F"
  }

  &.logout:before {
    content: "\E6A0"
  }

  &.delivery:before {
    content: "\E69E"
  }

  &.record:before {
    content: "\E6A1"
  }

  &.returns:before {
    content: "\E6A2"
  }

  &.refresh:before {
    content: "\E6A3"
  }

  &.dismantling:before {
    content: "\E6A4"
  }

  &.more-horizontal:before {
    content: "\E6A5"
  }

  &.more-vertical:before {
    content: "\E6A6"
  }

  &.picture:before {
    content: "\E6A7"
  }

  &.forbidden:before {
    content: "\E6A8"
  }

  &.forbidden-o:before {
    content: "\E6A9"
  }

  &.dashboard:before {
    content: "\E6AA"
  }

  &.channels:before {
    content: "\E6AB"
  }

  &.location:before {
    content: "\E6AC"
  }

  &.location-o:before {
    content: "\E6AD"
  }

  &.mobile:before {
    content: "\E6AE"
  }

  &.mobile-o:before {
    content: "\E6AF"
  }

  &.check1:before {
    content: "\E6B0"
  }

  &.framework:before {
    content: "\E6B1"
  }

  &.barcode:before {
    content: "\E6B2"
  }

  &.single-left:before {
    content: "\E6B3"
  }

  &.double-right:before {
    content: "\E6B4"
  }

  &.double-left:before {
    content: "\E6B5"
  }

  &.browse:before {
    content: "\E6B6"
  }

  &.single-right:before {
    content: "\E6B7"
  }

  &.export:before {
    content: "\E6B8"
  }

  &.import:before {
    content: "\E6B9"
  }

  &.batch:before {
    content: "\E6BB"
  }

  &.new-menu-fold:before {
    content: "\E6BA"
  }

  &.new-menu-unfold:before {
    content: "\E6BC"
  }

  &.excel:before {
    content: "\E6BE"
  }

  &.Money:before {
    content: "\E6BF"
  }

  &.help:before {
    content: "\E6C2"
  }

  &.calendar:before {
    content: "\E68E"
  }

  &.domain:before {
    content: "\E6BD"
  }

  &.store-admin:before {
    content: "\E6C3"
  }

  &.users-group:before {
    content: "\E6C4"
  }

  &.tenant-management:before {
    content: "\E6C5"
  }

  &.account:before {
    content: "\E6C6"
  }

  &.avatar-new:before {
    content: "\E6C0"
  }

  &.shop-avatar:before {
    content: "\E6C1"
  }

  &.fontsize:before {
    content: "\E6C8"
  }

  &.underline:before {
    content: "\E6C9"
  }

  &.justified:before {
    content: "\E6CA"
  }

  &.align-middle:before {
    content: "\E6CB"
  }

  &.music:before {
    content: "\E6CC"
  }

  &.align-left:before {
    content: "\E6CD"
  }

  &.italics:before {
    content: "\E6CE"
  }

  &.media:before {
    content: "\E6CF"
  }

  &.table:before {
    content: "\E6D0"
  }

  &.leading:before {
    content: "\E6D1"
  }

  &.line-through:before {
    content: "\E6D2"
  }

  &.align-right:before {
    content: "\E6D3"
  }

  &.tenant-store-info:before {
    content: "\E6D4"
  }

  &.seo:before {
    content: "\E6D5"
  }

  &.carousel1:before {
    content: "\E6D7"
  }

  &.flag_:before {
    content: "\E6D6"
  }

  &.richtextbox-clear:before {
    content: "\E6DA"
  }

  &.undo:before {
    content: "\E6D8"
  }

  &.redo:before {
    content: "\E6D9"
  }

  &.Indent:before {
    content: "\E6DB"
  }

  &.number-list:before {
    content: "\E6DC"
  }

  &.outdent:before {
    content: "\E6DD"
  }

  &.unordered:before {
    content: "\E6DF"
  }

  &.links:before {
    content: "\E6DE"
  }

  &.after-sales:before {
    content: "\E6E0"
  }

  &.invoice-service:before {
    content: "\E6E1"
  }

  &.batch1:before {
    content: "\E6E2"
  }

  &.invoice-manage:before {
    content: "\E6E3"
  }

  &.inventory-query:before {
    content: "\E6E4"
  }

  &.inventory:before {
    content: "\E6E5"
  }

  &.warehouse-man:before {
    content: "\E6E6"
  }

  &.settlement:before {
    content: "\E6E8"
  }

  &.drag:before {
    content: "\E6E7"
  }

  &.folder:before {
    content: "\E6E9"
  }

  &.buya_saleb:before {
    content: "\E6EA"
  }

  &.batch_sale:before {
    content: "\E6EB"
  }

  &.shift_down:before {
    content: "\E6EC"
  }

  &.heart:before {
    content: "\E6ED"
  }

  &.to_bottom:before {
    content: "\E6EE"
  }

  &.to_top:before {
    content: "\E6EF"
  }

  &.shift_up:before {
    content: "\E6F0"
  }

  &.bold:before {
    content: "\E6F2"
  }

  &.pim-open-platform:before {
    content: "\E6F1"
  }

  &.pim-synchronize:before {
    content: "\E6F3"
  }

  &.pim-authority:before {
    content: "\E6F4"
  }

  &.operation-management:before {
    content: "\E6F7"
  }

  &.pim-pic-manage:before {
    content: "\E6F8"
  }

  &.view-cardlist:before {
    content: "\E6F9"
  }

  &.view-list:before {
    content: "\E6FA"
  }

  &.new-forbidden-o:before {
    content: "\E6FB"
  }

  &.add-o:before {
    content: "\E6FC"
  }

  &.pim-cut-after:before {
    content: "\E6FD"
  }

  &.pim-cut-before:before {
    content: "\E6FE"
  }

  &.rule-o:before {
    content: "\E6FF"
  }

  &.activity-management-:before {
    content: "\E700"
  }

  &.larger-view:before {
    content: "\E701"
  }

  &.pim-pre-treated:before {
    content: "\E6F5"
  }

  &.file-manage:before {
    content: "\E6F6"
  }

  &.upload-cloud:before {
    content: "\E703"
  }

  &.pim-pdp-manage:before {
    content: "\E702"
  }

  &.message-operation:before {
    content: "\E704"
  }

  &.switch-language:before {
    content: "\E705"
  }

  &.operation-log:before {
    content: "\E706"
  }

  &.info-new:before {
    content: "\E707"
  }

  &.total-info:before {
    content: "\E708"
  }

  &.up:before {
    content: "\E709"
  }

  &.arrow-down:before {
    content: "\E70A"
  }

  &.track:before {
    content: "\E70B"
  }

  &.store-info:before {
    content: "\E70C"
  }

  &.puma-setting:before {
    content: "\E70D"
  }

  &.limited-goods:before {
    content: "\E70E"
  }

  &.message-history:before {
    content: "\E70F"
  }

  &.message-send:before {
    content: "\E710"
  }

  &.message-service:before {
    content: "\E711"
  }

  &.store-goods-manageme:before {
    content: "\E712"
  }
}