@import "~assets/scss/base/_base";
#Breadcrumb {
  background: #fff;
  padding: 16px 13px;
  margin:0 0 10px 0;
  .el-breadcrumb__item {
    .el-breadcrumb__inner {
      color: lx-core-font-color;
      font-weight:normal;
    }
    &:last-child {
      .el-breadcrumb__inner {
        color: $lx-core-color;
      }
    }
  }
}
