@charset "utf-8"; 
body,ul {
    margin: 0;
}

li {
    list-style: none;
}
html,
body {
	height: 100%;
    background: #000;
}

body,p,div{ 
    margin: 0; padding: 0; 
  }
  .row{
    margin-left: 0;
    margin-right: 0;
  }
  .box{
    display: none
  }
  .row.isshow{
    color: #f2392b;
  }
  .row-tab{
    height: 34px;
    line-height: 34px;
  }
  .row-tab div{
    border-bottom: 2px solid #ccc;
  }
  .row-tab div.active{
    border-bottom-color: #f2392b;
    color: #f2392b;
  }
  .score-box{
    display: block;
  }
  .row-access {
    line-height: 48px;
    color:#333;
  }
  .row-access .disabled{
    color: #999;
  }
  .box .row{
    margin-right: 15px;
    margin-left: 15px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc; 
  }
  .box .row-head{
    border-top: 1px solid #ccc;
  }
  .box .row div{
    border-left: 1px solid #ccc;
    height: 28px;
    line-height: 28px;
    padding-left: 0px;
    padding-right: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .box .row div:first-of-type{
    border-left: 0 none;
  }
  .tip{
    position: fixed;
    width: 100%;
    bottom: 1rem;
  }
  .row-list .inner p{
    margin-top: 10px;
  }
  .btn-rank{
  	position: fixed;
  	right: 1rem;
  	top:1rem;
  	text-decoration: none;
  	color:#fff;
	z-index: 10;
  }
  .btn-rank:hover,
  .btn-rank:focus{
  	text-decoration: none;
  	color:#fff;
  }
  .modal-tip{
    text-align: center;
  }
  .modal-tip .modal-dialog{
    width: auto;
    display: inline-block;
  }
  .modal-tip .modal-body{
		white-space: nowrap;
    padding: 4px 8px;
  }

.client {
    background: #171d2e;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

#wrap {
    background: url(../img/background.png) repeat-x 0 0;
    position: relative;
    height: 75%;
    background-size: 100%;
}

#score1 {
    position: absolute;
    top: 70px;
    left: 0;
    width:100%;
    text-align:center;
    color: #fff;
    font-size: 48px;
    line-height: 48px;
    height: 48px;
    text-align: center;
    font-family: "Comic Sans MS", cursive;
    font-weight: bold;
    text-shadow: #000 2px 2px 1px;
    opacity:0;
    filter:alpha(opacity=0)
}

#tap_start {
    position: absolute;
    top: 60%;
    opacity: 0;
    filter: alpha(opacity=0);
    left: 50%;
    margin-left:-92px;
    background: url(../img/tap_bg.png) no-repeat;
    height: 140px;
    width: 184px;
    z-index: 2;
}

#game_over {
    position: absolute;
    top: 120px;
    left: 50%;
    width: 263px;
    height: 61px;
    margin-left: -131px;
    opacity: 1;
    filter: alpha(opacity=100);
    background: url(../img/over.png) no-repeat;
}

#score_box {
    width: 310px;
    height: 177px;
    position: absolute;
    top: 621px;
    left: 50%;
    margin-left: -155px;
    background: url(../img/scorebox.png) no-repeat;
}


.score2 {
    margin-top: 44px;
    font-size: 26px;
    line-height: 50px;
    text-shadow: #000 2px 2px 0px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

#curr_score {
    margin-bottom: 19px;
}

#btn_restart,#btn_start {
    width: 120px;
    height: 45px;
    background: url(../img/start-button.png) no-repeat;
    position: absolute;
    top: 425px;
    left: 50%;
    margin-left:-60px;
    opacity: 1;
    filter: alpha(opacity=100);
    z-index: 3;
}
#btn_start{
    top:65%;
}
#game_tit{
	position: absolute;
	top:236px;
	left: 70px;
	width: 180px;
	height: 52px;
	background:url(../img/title.png) no-repeat;
}
#bird {
    position: absolute;
    height: 40px;
    width: 50px;
    background: url(../img/bird.gif) no-repeat;
    left: 260px;
    top: 240px;
    z-index: 1;
}

#pipe_box {
    position: absolute;
    height: 100%;
    width: 0;
}

#pipe_box li {
    position: absolute;
    left: 10px;
    width: 69px;
    height: 100%
}

.pipe-up, .pipe-down, .pipe-up .pipe-header, .pipe-down .pipe-header {
    position: absolute;
    width: 100%;
}

.pipe-up, .pipe-down {
    height: 190px;
    background-position: 0 0;
    background-repeat: repeat-y;
}

.pipe-up {
    top: 0;
    background-image: url(../img/pipe-middle.png);
}

.pipe-down {
    bottom: 0;
    background-image: url(../img/pipe-middle.png);
}

.pipe-up .pipe-header, .pipe-down .pipe-header {
    height: 35px;
    background-position: no-repeat;
}

.pipe-up .pipe-header {
    background-image: url(../img/pipe-bottom.png);
    bottom: 0px
}

.pipe-down .pipe-header {
    background-image: url(../img/pipe-top.png);
    top: 0;
}

#ground {
    position: absolute;
    bottom: -30px;
    left: 0;
    height: 32px;
    width: 100%;
    background: url(../img/ground.png) repeat-x 0 0;
}