{
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "parser": "babel-eslint",
    "ecmaFeatures": {
       "jsx": true,
       "modules": true,
       "blockBindings": true,
       "defaultParams": true,
       "objectLiteralComputedProperties": true
    },
    "rules": {
        "strict": 0,
        "camelcase": 2,
        "semi": [2, "always"],
        "quotes": [2, "single"],
        "accessor-pairs": 2,
        "comma-dangle": [2, "never"],
        "comma-style": [2, "last"],
        "computed-property-spacing": [2,"never"],
        "curly": [2, "all"],
        "default-case": 2,
        "dot-location": [2, "property"],
        "eol-last": 0,
        "no-alert": 0,
        "no-caller": 2,
        "no-catch-shadow": 0,
        "no-class-assign": 2,
        "no-const-assign": 2,
        "no-constant-condition": 2,
        "no-dupe-keys": 2,
        "no-eval": 1,
        "no-extend-native": 2,
        "no-script-url": 0,
        "no-sequences": 0,
        "no-ternary": 0,
        "no-throw-literal": 2,
        "no-undef-init": 2,
        "no-unused-vars": [1, {"vars": "all", "args": "after-used"}],
        "no-var": 0,
        "comma-spacing": 0,
        "use-isnan": 2,
        "valid-jsdoc": 0,
        "vars-on-top": 0,
        "wrap-iife": [1, "inside"],
        "wrap-regex": 0,
        "prefer-const": 0,
        "sort-vars": 0,
        "eqeqeq": 2
    }
}