export default {
  "base": "src",
  "all": [],
  "ignores": ["node_modules"],
  "exts": [
    ".web",
    ".wap",
    ".app"
  ],

  "make": ".htm",

  "domains": {
    "scdn": "//scdn.qbcdn.com",
    "sld": "",
    "cdn": "",
    "realm": ""
  },

  "template": {},

  "isCdnRule": true,

  "cdnRule": {
    "cssHref": ["href=\"(\\.|/)?css", "href=\"{{domains.cdn}}/css"],
    "jsSrc": ["src=\"(\\.|/)?js", "src=\"{{domains.cdn}}/js"],
    "pluginsHref": ["href=\"(\\.|/)?plugins", "href=\"{{domains.cdn}}/plugins"],
    "pluginsSrc": ["src=\"(\\.|/)?plugins", "src=\"{{domains.cdn}}/plugins"],
    "imgSrc": ["src=(\"|'|&quot;|&apos;)(\\.|/)?img", "src=\$1{{domains.cdn}}/img"],
  },

  "realmRule": {
    "cssHref": ["href=\"(\\.|/)?css", "href=\"{{domains.realm}}/css"],
    "jsSrc": ["src=\"(\\.|/)?js", "src=\"{{domains.realm}}/js"],
    "pluginsHref": ["href=\"(\\.|/)?plugins", "href=\"{{domains.realm}}/plugins"],
    "pluginsSrc": ["src=\"(\\.|/)?plugins", "src=\"{{domains.realm}}/plugins"],
    "imgSrc": ["src=\"(\\.|/)?img", "src=\"{{domains.realm}}/img"],
  },

  "dirs": {
    "img": "img",
    "css": "css",
    "fonts": "fonts",
    "inf": "inf",
    "inc": "inc",
    "md": "md",
    "js": "js",
    "plugins": "plugins",
    "less": "less"
  },

  "svns": {

    "devel": {
      "user": "",
      "pass": ""
    },

    "build": {
      "user": "",
      "pass": ""
    }
  },

  "sftp": {

    "devel": {
      "user": "ftpuser",
      "pass": "ftpuser",
      "host": "192.168.130.135",
      "port": "21",
      "base": "/"
    },

    "build": {
      "user": "ftpuser",
      "pass": "ftpuser",
      "host": "192.168.130.134",
      "port": "21",
      "base": "/"
    }
  },

  "local": {
    "devel": "",
    "build": ""
  },

  "serve": {
    "root": '.',
    "port": 10000,
    "reload": false
  }
};