html { font-size: 100%; }

/* Medium screens (640px) */
@media (min-width: 40rem) {
  html { font-size: 112%; }
}

body {
  color: #333;
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
}
.modal.modal-tip {
    text-align: center;
}
.modal.modal-tip .modal-dialog{
    display: inline-block;
    width: auto
}
.modal.modal-tip .modal-content{
    background-color: rgba(0,0,0, .75);
    color: #fff
}
.modal.modal-tip .modal-body{
    padding: 6px 10px;
}
#aside_content {
  padding: 20px;
}

#aside_content h1 {
  font-size: 25px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#aside_content h1 a:link, #aside_content h1 a:visited {
  color: #333;
}

#aside_content h2 {
  font-size: 0.7rem;
}

#aside_content h5 {
  margin-top: 20px;
  margin-bottom: 0;
}

#aside_content a:visited, #aside_content a:link {
  color: #4682BE;
  text-decoration: none;
}

#aside_content ul {
  list-style-type: none;
  margin: 0;
  padding-left: 10px;
  padding-top: 0;
}

#aside_content ol {
  margin: 0;
  padding-left: 30px;
  padding-top: 0;
}

#aside_content ul li:before {
  content: "-";
  position: relative;
  left: -5px;
}

#aside_content ul li,
#aside_content ol li {
  margin-top: 0;
  margin-bottom: 0.2rem;
  margin-left: 10px;
  padding: 0;
  text-indent: -5px;
  font-size: 0.7rem;
}

#main_content {
  padding-top: 10px;
  padding-bottom: 150px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 0.8rem;
  line-height:1.3rem;
  counter-reset: section;
}

#main_content pre{
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0.7rem;
  line-height: 1.2;
  color: #FFF;
  background: #111;
  border-radius: 5px;
}

#main_content code {
  color: #a6e22e;
  font-size: 0.7rem;
  font-weight: normal;
  font-family: Consolas,"Courier New",Courier,FreeMono,monospace;
  background: #111;
  border-radius: 2px;
}

#main_content p code,
#main_content li>code,
#main_content h2>code,
#main_content h3>code{
  padding-left: 3px;
  padding-right: 3px;
  color: #c7254e;
  background: #f9f2f4;
}
#main_content h2,
#main_content h3{
  margin-top: 50px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold
}
#main_content h2 {
  font-size: 18px;
  border-top: 2px solid #666;
  counter-increment: section;
}

#main_content h2:before {
  content: counter(section) ". ";
}

#main_content h3 {
  font-size: .9rem;
  border-top: 1px dotted #777;
}

#main_content h2:hover,
#main_content h3:hover {
  color: #ED1C24;
}

#main_content img {
  max-width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 5px;
}

#main_content ul {
  display: block;
  list-style-type: none;
  padding-top: 0.5rem;
  padding-bottom:0.5rem;
}

#main_content ol {
  display: block;
  padding-top: 0.5rem;
  padding-bottom:0.5rem;
}

#content-toc{
  display: inline-block !important;
}

#main_content ul li:before {
  content: "-";
  position: relative;
  left: -5px;
}

#main_content ul li,
#main_content ol li{
  text-indent: -5px;
  font-size: 0.8rem;
}

#main_content ul li.link,
#main_content ol li.link {
  color: #2980b9;
  text-decoration: none;
  font-size: 0.7rem;
  font-weight: bold;
  cursor: pointer;
}

#main_content a:link, #main_content a:visited {
  color: #4682BE;
  text-decoration: none;
}

#main_content .content-toc{
  background: #bdc3c7;
  border-radius: 5px;
}

#main_content table{display:block;width:100%;overflow:auto;word-break:normal;word-break:keep-all}

#main_content table th{font-weight:bold}

#main_content table th,
#main_content table td{padding:6px 13px;border:1px solid #ddd}

#main_content table tr{background-color:#fff;border-top:1px solid #ccc}
#main_content table tr:nth-child(2n){background-color:#f8f8f8}
.page-box{
  position: fixed;
  z-index: 3;
  bottom: 0;
  left: 50%;
  border-radius: 4px 4px 0 0;
  transform: translateX(-50%);
  transition: .5s;
  text-align: center;
  background-color: rgba(0,0,0, .5);
  white-space: nowrap;
}
.page-box a{
  display: inline-block;
  margin: 0 20px;
  text-decoration: none;
  color: #ccc;
}
.page-box a:first-child{
  margin-left: 0;
}
.page-box a:last-child{
  margin-right: 0;
}
.page-box a:hover{
  text-decoration: none;
}
#back_top,#btn_menu {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  transition: .5s;
}
#btn_menu {
  opacity: .5;
}
#back_top {
  display: none;
}
/* Large screens (1024px) */
@media (min-width: 64rem) {
  html { font-size: 120%; }
}
.left-side,
.right-side{
  width: 100%;
}
.left-side,
.right-side,
.aside,
.content{
  position: relative;
  float: left;
}
.left-side{
  overflow: hidden;
}
.right-side{
  right: 80%;
  box-shadow: 0 0 40px #CCC;
  -webkit-box-shadow: 0 0 40px #CCC;
  -moz-box-shadow: 0 0 40px #CCC;
  border-right: 1px solid #BBB;
}
.aside{
  width: 20%;
  left: 80%;
}
.content{
  width: 80%;
  left: 80%;
}

@media (max-width:750px){
  #btn_menu{
    opacity: 1;
  }
  .right-side {
      box-shadow: none;
      border: 0 none
  }
  .aside {
    float: none;
    width: 70%;
    position: fixed;
    left: -80%;
    z-index: 2;
    height: 100%;
    overflow: auto;
    background-color: #fff;
    transition: .5s;
    box-shadow: 0 0 40px #CCC;
    -webkit-box-shadow: 0 0 40px #CCC;
    -moz-box-shadow: 0 0 40px #CCC;
    border-right: 1px solid #BBB;
  }
  .aside.show{
    left: 0;
  }
  .content{
    float: none;
    width: 100%;
  }
}
.loading{
  display: none;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,.85);
  padding-top: 20%;
}
.text-loading{
  display: inline-block;
  font-size: 24px;
  vertical-align: bottom;
}
.text-loading:after{
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis 3s infinite;
  -moz-animation: ellipsis 3s infinite;
  -o-animation: ellipsis 3s infinite;
  animation: ellipsis 3s infinite;
  content: "\2026";
}
@-webkit-keyframes ellipsis {
  0%{
    width: 0px;
  }
  100%{
    width: 100%;
  }
}
@-moz-keyframes ellipsis {
  0%{
    width: 0px;
  }
  100%{
    width: 100%;
  }
}
@-o-keyframes ellipsis {
  0%{
    width: 0px;
  }
  100%{
    width: 100%;
  }
}
@keyframes ellipsis {
  0%{
    width: 0px;
  }
  100%{
    width: 100%;
  }
}
.progress {
  position: fixed;
  z-index: 4;
  left: 0;
  top: 0;
  width: 0;
  height: 3px;
  background-color: #5cb85c;
  transition: .5s
}
.video {
  text-align: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, .9);
  display: none
}
.video video{
  position: relative;
  margin-top: 100px;
  width: 80%;
  max-width: 750px;
  background-color: #000;
}
.video .controls {
  width: 80%;
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  font-size: 24px;
}
.video .controls span {
  margin: 0 10px;
  cursor: pointer;
}