.qb-nav-tabs {
  padding-left: 0;
  list-style: none;
}
.qb-nav-tabs:before,
.qb-nav-tabs:after {
  content: " ";
  display: table;
}
.qb-nav-tabs:after {
  clear: both;
}
.qb-nav-tabs.qb-nav-tabs-line {
  border-bottom: 1px solid #f1f4fc;
}
.qb-nav-tabs.qb-nav-tabs-line li > a {
  color: #333;
  padding: 15px;
}
.qb-nav-tabs.qb-nav-tabs-line li.active > a,
.qb-nav-tabs.qb-nav-tabs-line li.active > a:hover,
.qb-nav-tabs.qb-nav-tabs-line li.active > a:focus {
  font-size: 14px;
  color: #ff4521;
  cursor: default;
}
.qb-nav-tabs.qb-nav-tabs-pack {
  border: 1px solid #e5e8ef;
  background-color: #f3f5f8;
}
.qb-nav-tabs.qb-nav-tabs-pack li > a {
  padding: 15px 40px;
  color: #666;
  margin: 0;
  font-size: 16px;
  border: 0 none;
  border-top: 2px solid transparent;
}
.qb-nav-tabs.qb-nav-tabs-pack li.active {
  margin-bottom: -1px;
  margin-top: 1px;
}
.qb-nav-tabs.qb-nav-tabs-pack li.active a,
.qb-nav-tabs.qb-nav-tabs-pack li.active > a:hover,
.qb-nav-tabs.qb-nav-tabs-pack li.active > a:focus {
  background-color: #fff;
  color: #333;
  cursor: default;
  border-top-color: #ff4521;
}
.qb-nav-tabs li {
  position: relative;
  display: block;
  float: left;
}
.qb-nav-tabs li > a {
  position: relative;
  display: block;
  margin-right: 40px;
  line-height: 1.42857143;
  font-size: 14px;
  border-bottom: 2px solid transparent;
  color: #888;
  text-decoration: none;
}
.qb-nav-tabs li > a:hover {
  text-decoration: none;
}
.qb-nav-tabs li.active > a,
.qb-nav-tabs li.active > a:hover,
.qb-nav-tabs li.active > a:focus {
  font-size: 16px;
  color: #666;
  border-bottom-color: #ff4521 ;
  cursor: default;
}
.qb-breadcrumb {
  color: #ababab;
}
.qb-breadcrumb span {
  color: #333;
}
.qb-breadcrumb a {
  text-decoration: none;
  color: #fe8a19;
}
