body{
	background-image: url("/static/image/background.jpg");
	background-repeat:No-repeat;
	background-position:50% -5%;
}
#black{
	margin:25px auto 0px;
	width: 620px;
}
#red{
	margin:10px auto 0px;
	width: 620px;
}
.red{
	height:63px;
}
.red_piece{
	width:40px;
	height:40px;
	cursor:pointer;
	border:solid 2px gray;
	background:white;
	color:red;
	-moz-border-radius: 15px;      /* Gecko browsers */
    -webkit-border-radius: 15px;   /* Webkit browsers */
    border-radius:15px;   
	-moz-box-shadow:5px -5px 5px #999 inset;              /* For Firefox3.6+ */
	-webkit-box-shadow:5px -5px 5px #999 inset;           /* For Chrome5+, Safari5+ */
	box-shadow:5px -5px 5px #999 inset;                   /* For Latest Opera */
}
.button{
	width:40px;
	height:40px;
	border: none;
	cursor:pointer;
	border:solid 2px gray;
    opacity:0;
	-moz-border-radius: 15px;      /* Gecko browsers */
    -webkit-border-radius: 15px;   /* Webkit browsers */
    border-radius:15px;   
	-moz-box-shadow:5px -5px 5px #999 inset;              /* For Firefox3.6+ */
	-webkit-box-shadow:5px -5px 5px #999 inset;           /* For Chrome5+, Safari5+ */
	box-shadow:5px -5px 5px #999 inset;
}
.piece{
	width:40px;
	height:40px;
	cursor:pointer;
	border:solid 2px gray;
	-moz-border-radius: 15px;      /* Gecko browsers */
    -webkit-border-radius: 15px;   /* Webkit browsers */
    border-radius:15px;            /* W3C syntax */
	-moz-box-shadow:5px -5px 5px #999 inset;              /* For Firefox3.6+ */
	-webkit-box-shadow:5px -5px 5px #999 inset;           /* For Chrome5+, Safari5+ */
	box-shadow:5px -5px 5px #999 inset;                   /* For Latest Opera */
}
.button_area{
	padding-left:26px;
	/*display:inline;           /* W3C syntax */
	float:left;
	width: 40px;
	height: 40px;
}
.black{
	height:63px;
}
#msg_info{
    float: left;
    width: 120px;
    height: 100px;
}