T1= #000000;
T2= #999999;
T3= #CCCCCC;
T4= #FFFFFF;
T5= #666666;

L1= #E64545;

C1= #000000;
C2= #B3B3B3;
C3= #FFFFFF;

B1= #E0E0E0;
B2= #F0F0F0;

F1= #43BF43;
F2= #FFAA00;
F3= #629DD9;


color1=red;
color-t1 = #ffffff;

border-color = #E0E0E0; 
border-color-w = #F0F0F0;
color-b9 = #B9B9B9;
cell-item-color = #666666;
theme-color = #E50011
bg-white = #ffffff;
img-bg-placeholder = #DDD;