/* resources.scss */
@import './br1px.scss';
// colors
$color-0: #000;
$color-3: #333;
$color-6: #666;
$color-8: #888;
$color-9: #999;
$color-c: #ccc;
$color-d: #ddd;
$color-e: #eee;
$color-f: #fff;

$color-t1: #000;
$color-t2: #999;
$color-t3: #ccc;
$color-t4: #fff;
$color-t5: #666;

$color-l1: #E50011;

$color-c1: #000;
$color-c2: #b3b3b3;
$color-c3: #fff;

$color-f1: #43bf43;
$color-f2: #fa0;
$color-f3: #629dd9;

$color-b1: #e0e0e0;
$color-b2: #f0f0f0;

$color-b9: #b9b9b9;

// margin padding
$gap-common: 30px;

$gap-top: 20px;
$color-y: #fa0;
$color-dred:#E50011;
$color-segmenting-line:rgba(204, 204, 204, 0.29);

$color-active: #e0e0e0;
$serach-input-background: #f6f6f6;


// 深圳
$T1: #000000;
$T2: #999999;
$T3: #CCCCCC;
$T4: #FFFFFF;
$T5: #666666;

$L1: #E64545;

$C1: #000000;
$C2: #B3B3B3;
$C3: #FFFFFF;

$B1: #E0E0E0;
$B2: #F0F0F0;

$F1: #43BF43;
$F2: #FFAA00;
$F3: #629DD9;
