@media(max-width: 320px) {
    .index-page .reward-notice {
        font-size:.85rem;
    }
}
@media(min-width:375px){
    .ball span{
        width: 2.75rem;
        height: 2.75rem;
        line-height: 2.75rem;
    }
    .index-page .modal-rule{
        bottom: -18%!important;
    }
}
.index-page {
    overflow-x: hidden;
    padding-bottom: 5.25rem;
}

.index-page .unstyled {
    color: #c48f10;
    line-height: 2rem;
}

.index-page .reward-notice {
    margin: 0 1rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
    border-bottom: .1rem solid #aaa;
}

.index-page .reward-notice a {
    color: #666;
}

.index-page .reward-notice a.btn-get-reward {
    width: 22%;
    height: 2rem;
    line-height: 2rem;
    float: left;
    border: .1rem solid #ff3c2d;
    border-radius: .25rem;
    color: #ff3c2d;
    text-align: center;
}

.index-page .reward-notice a:last-child {
    display: block;
    margin-left: 26%;
    line-height: 2.15rem;
    height: 2rem;
}

.index-page .reward-notice a:last-child span {
    float: left;
    width: 97%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.index-page .reward-notice i {
    display: block;
    margin-left: 97%;
    color: #ff3c3d;
    font-size: 1.5rem;
    line-height: 2.15rem;
}

.index-page .balls {
    display: -webkit-box;
    display: -moz-box;
    display: -o-box;
    display: box;
}

.index-page .balls .ball {
    margin-top: .5rem;
}

.index-page .balls:nth-child(6) {
    margin-top: 1rem;
}

.index-page .balls:nth-child(1) .ball,
.index-page .balls:nth-child(6) .ball {
    margin-top: 0;
}

.index-page .balls span {
    border: .1rem solid #727272;
}

.index-page .balls.red span {
    border-color: #ff3c3d;
    color: #ff3c3d
}

.index-page .balls.blue span {
    border-color: #00b2ff;
    color: #00b2ff;
}

.index-page .balls.red .ball.active span {
    background-color: #ff3c3d;
    color: #fff;
}

.index-page .blue.balls .ball.active span {
    background-color: #00b2ff;
    color: #fff;
}

.index-page .balls .btn-reset span {
    color: #727272;
    border-color: #727272;
}

.index-page .balls .btn-reset.active span {
    color: #fff!important;
    background-color: #727272!important;
}

.index-page .modal-rule {
    position: absolute;
    bottom: -22%;
    right: -20rem;
    width: 20rem;
    padding: 1rem;
    color: #fff;
    background-color: #ff8b82;
    -webkit-transition: .5s right;
    -moz-transition: .5s right;
    -o-transition: .5s right;
    transition: .5s right;
    text-align: left;
    line-height: 1.325rem;
    border-radius: .25rem 0 0 0;
    font-size: .75rem;
}

.index-page .modal-rule.active {
    right: 0rem;
}

.index-page .modal-rule .btn-rule {
    position: absolute;
    bottom: 0;
    left: -2rem;
    width: 2rem;
    line-height: normal;
    padding: 1rem .5rem;
    border-radius: .25rem 0 0 .25rem;
    background-color: #ff8b82;
    font-size: 1rem;
}

.index-page .foot-nav .inner {
    margin: 0 1rem;
    padding: 1rem 0;
    border-top: .1rem solid #aaa;
}

.index-page .foot-nav .col-xs-2 {
    padding: 0;
}

.index-page .foot-nav .col-xs-5 {
    padding-right: 0;
}

.index-page .btn-play, .index-page .btn-play:hover, .index-page .btn-play:focus {
    display: block;
    margin: 1.5rem auto;
    color: #fff;
    background-color: #00b2ff;
}

.index-page .foot-nav .btn {
    background-color: #ff4716;
    color: #fff;
}

.index-page .foot-nav .btn-user:before {
    content: "";
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    margin: .75rem auto 0;
    background-color: #ff4716;
}

.index-page .foot-nav .btn-user:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 1.5rem;
    height: .75rem;
    border-radius: 1.5rem 1.5rem 0 0;
    border: .25rem solid #ff4716;
}

.index-page .sum {
    float: right;
    margin-right: 1rem;
    margin-top: -1.5rem;
    color: #ff3c3d;
}

.index-page .btn-user-nav {
    background-color: #ff968e;
    position: absolute;
    padding: 1rem;
    left: -100%;
    bottom: 5rem;
    -webkit-transition: .5s left;
    -moz-transition: .5s left;
    -o-transition: .5s left;
    transition: .5s left;
}

.index-page .btn-user-nav.active {
    left: 0;
}

.index-page .btn-user-nav a {
    display: block;
    color: #fff;
}

.index-page .btn-user-nav img {
    width: 20%;
    vertical-align: middle;
    margin-right: 1rem;
}

.index-page .btn-user-nav hr {
    margin: .75rem 0;
    border-top-style: dotted;
    border-top-width: .15rem;
}

.modal-protocol .modal-dialog {
    width: 80%;
}

.modal-protocol input[type=checkbox] {
    display: none;
}

.modal-protocol label {
    margin: 1.25rem 0;
    font-weight: normal;
    line-height: 1.25rem;
}

.modal-protocol input[type=checkbox]~span {
    float: left;
    width: 1.25rem;
    margin-right: .25rem;
    height: 1.25rem;
    line-height: 1.25rem;
    text-align: center;
    background-color: #589ee5;
    color: #fff;
}

.modal-protocol input[type=checkbox]~span i {
    display: none;
}

.modal-protocol input[type=checkbox]:checked~span i.fa {
    display: inline-block;
}

.modal-protocol .btn-confirm {
    background-color: #589ee5;
    color: #fff;
    border-radius: 0;
}






.cart-page{
    display: none;
    padding-top: 4.5rem;
    padding-bottom: 9.75rem;
}

.cart-page .btn-random, 
.cart-page .btn-hand {
    border: .1rem solid #ff3c2d;
    color: #ff3c2d;
    /* margin: 1rem 0; */
}

.cart-page .item {
    display: -webkit-box;
    display: -moz-box;
    display: -o-box;
    display: box;
    margin-left: 1rem;
    margin-right: 1rem;
    border-bottom: .1rem dotted #aaa;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.cart-page .item:first-child {
    border-top: .1rem dotted #aaa;
}

.cart-page .item .btn-del, .cart-page .item .btn-go {
    display: -webkit-box;
    display: -moz-box;
    display: -o-box;
    display: box;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    box-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    box-align: center;
    width: 2rem;
    font-size: 1.75rem;
    color: #4a4a4a;
}

.cart-page .item .btn-go {
    text-align: right;
}

.cart-page .balls {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    box-orient: vertical;
    text-align: center;
}

.cart-page .balls .cols {
    display: -webkit-box;
    display: -moz-box;
    display: -o-box;
    display: box;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
}

.cart-page .balls .cols:first-child~.cols {
    margin-top: .25rem;
}

.cart-page .balls .cols .ball {
}

.cart-page .how-date,.cart-page .how-times {
    font-size: .875rem;
}

.cart-page .how-date {
    padding-right: 0
}

.cart-page .how-times {
    padding-left: 0
}

.cart-page .how-date .input-group-addon, 
.cart-page .how-times .input-group-addon {
    background-color: transparent;
    border: 0 none;
}

.cart-page .how-date .num, 
.cart-page .how-times .num {
    color: #ff3c2d;
}

.cart-page .btn-pay {
    background-color: #ff3c2d;
    color: #fff;
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.form-pay .form-control {
    border-radius: 0;
}

.form-pay .btn-get-code {
    margin-left: .5rem;
    color: #3e6800;
    background: -webkit-linear-gradient(top,#bfea5a 0%,#b2e246 50%,#a5da34 100%);
    background: -moz-linear-gradient(top,#bfea5a 0%,#b2e246 50%,#a5da34 100%);
    background: -o-linear-gradient(top,#bfea5a 0%,#b2e246 50%,#a5da34 100%);
    background: linear-gradient(top,#bfea5a 0%,#b2e246 50%,#a5da34 100%);
    border-color: #88a53b;
    margin-left: .5rem !important;
    ; border-radius: 0;
}

.form-pay .btn-get-code.disabled {
    background: -webkit-linear-gradient(top,#b3b3b3 0%,#cdcdcd 100%);
    background: -moz-linear-gradient(top,#b3b3b3 0%,#cdcdcd 100%);
    background: -o-linear-gradient(top,#b3b3b3 0%,#cdcdcd 100%);
    background: linear-gradient(top,#b3b3b3 0%,#cdcdcd 100%);
    color: #000;
    border-color: #999;
}

.form-pay .btn.btn-default {
    border: 0 none;
    border-top: .1rem solid #ccc;
    border-radius: 0;
}

.form-pay .btn.btn-default:first-child {
    border-right: .1rem solid #ccc;
}

.modal-pay .modal-dialog {
    width: 80%;
}

.modal-pay .modal-content {
    overflow: hidden;
}

.modal-pay .modal-body {
    padding-bottom: 0;
}

.cart-page .foot-nav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #fff;
}

.cart-page .foot-nav .row.row-normal {
    margin-bottom: 1rem;
}

.cart-page .top-nav{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.btn-order-detail{
    border:.1rem solid #fd472b;
    color: #fd472b;
    background-color: #fff;
}

.btn-pay-ok{
    background-color: #fd472b;
    color:#fff;
}