.c-t-yc-ying
  color: #D756FF
.c-t-yg-ying
  color: #e6fffa
.c-t-yj-ying
  color: #ffa4ff
.c-t-yy-ying
  color: #fff1e8
.c-t-yzzb
  color: #ffb0b6
.c-t-ylsb
  color: #e2ffe3
.c-t-sqdb
  color: #eac1ff
.c-t-yj-yidayi
  color: #5013C2
.c-t-yy-yi
  color: #d8fff8
.c-t-ycb
  color: #d8e6ff
.c-t-xj-xibanya
  color: #FF6F90
.c-t-xy-xibanya
  color: #ffc6ff
.c-t-gwb
  color: #ffbeea
.c-t-xcb-xibanya
  color: #ffb0be
.c-t-dj-de
  color: #F5A623
.c-t-dy
  color: #97e6ff
.c-t-dgb
  color: #aabdff
.c-t-dcb
  color: #aefffa
.c-t-fj-fa
  color: #4A90E2
.c-t-fy
  color: #e8ffd5
.c-flsb-fa
  color: #deffb3
.c-t-fgb
  color: #ffffb2
.c-t-fcb
  color: #ffecb2
.c-t-pc
  color: #fff3a4
.c-t-pj
  color: #ffb991
.c-t-ptyb
  color: #acfffa
.c-t-plsb
  color: #b3deff
.c-t-pcb
  color: #b0adff
.c-t-hj
  color: #dcacff
.c-t-hy
  color: #ffadea
.c-t-hlb
  color: #ffb2c7
.c-t-hcb
  color: #abffb5
.c-t-ec
  color: #cfffa5
.c-t-ej
  color: #dbff7b
.c-t-elsb
  color: #faff9a
.c-t-ecb
  color: #ffd686
.c-t-scb
  color: #ffbc8d
.c-t-sg
  color: #5adaff
.c-t-slsb
  color: #8fa6ff
.c-t-szzb
  color: #0f47ff
.c-t-nc
  color: #19c3ff
.c-t-nj
  color: #1affc7
.c-t-nwb
  color: #11ebff
.c-t-ncb
  color: #09fcff
.c-t-rc
  color: #6dffff
.c-t-rj
  color: #88ffd0
.c-t-rdb
  color: #ff7815
.c-t-rcb-rui
  color: #ff9f97
.c-t-bj-bi
  color: #ff1990
.c-t-by-bi
  color: #b068ff
.c-t-blsb
  color: #eb3fff
.c-t-bcb-bi
  color: #ff39c0
.c-t-jj
  color: #ff2977
.c-t-jy
  color: #ffff56
.c-t-jkb
  color: #8fff62
.c-t-jcb
  color: #f2ff0d
.c-t-tc
  color: #1dffd3
.c-t-tj
  color: #7cd9ff
.c-t-teqb
  color: #ff9cf7
.c-t-tcb
  color: #ffac43
.c-t-xc
  color: #ff671f
.c-t-xj-xila
  color: #ff2351
.c-t-xlb
  color: #ff8287
.c-t-rsb
  color: #ff4f56
.c-t-rsj
  color: #ff90e9
.c-t-yc-yi
  color: #90d0ff
.c-t-yj-yi
  color: #b4ffe2
.c-t-yslb
  color: #4dff82
.c-t-dc
  color: #569dff
.c-t-dj-dan
  color: #ff62ce
.c-t-dmb
  color: #ff48e7
.c-t-aj-ao
  color: #85ff5a
.c-t-ay-ao
  color: #c4ff35
.c-t-adlb
  color: #4451ff
.c-t-bj-bo
  color: #2684ff
.c-t-by-bo
  color: #86aaff
.c-t-blb
  color: #f7ff94
.c-t-bcb-bo
  color: #a5ffdc
.c-t-ac-ai
  color: #ff8e4d
.c-t-aj-ai
  color: #ff3a78
.c-t-alsj
  color: #27ff19
.c-t-azzb
  color: #21ff72
.c-t-xj-xiong
  color: #7197ff
.c-t-xy-xiong
  color: #52ffe6
.c-t-xylb
  color: #ffd4a1
.c-t-xlsb
  color: #9C02A7
.c-t-xcb-xiong
  color: #4F10AD
.c-t-fc
  color: #ff89c7
.c-t-fj-fen
  color: #D8F800
.c-t-flsb-fen
  color: #510FAD
.c-t-flb
  color: #FF0000
.c-t-lj
  color: #FF7400
.c-t-ly
  color: #CD0074
.c-t-lb
  color: #1240AC
.c-t-lcb
  color: #00A484
.c-t-sc
  color: #00C12B
.c-t-sj
  color: #A101A6
.c-t-sb
  color: #BEFE38
.c-t-kj
  color: #E19CFF
.c-t-ky
  color: #B748E7
.c-t-kb
  color: #FFE438
.c-t-wc
  color: #F6FFE4
.c-t-wj
  color: #C240FA
.c-t-wklb
  color: #DEFF98
.c-t-wcb
  color: #BEFE38
.c-t-bc
  color: #EC5642
.c-t-bj-bing
  color: #FFA498
.c-t-bdb
  color: #FFE7E4
.c-t-bcb-bing
  color: #38FB6B
.c-t-bj-ba
  color: #41E96D
.c-t-by-ba
  color: #2AE15A
.c-t-sblj
  color: #98FFB3
.c-t-bxb
  color: #E941B6
.c-t-aj-a
  color: #E4FF98
.c-t-ay-a
  color: #B343FA
.c-t-agtb
  color: #ECEA42
.c-t-acj
  color: #C9FE38
.c-t-zlj
  color: #ffe684
.c-t-zlb
  color: #E12AAA
.c-t-zcb-zhi
  color: #4A8BFA
.c-t-mzl
  color: #5088E7
.c-t-gksb
  color: #A2C4FF
.c-t-mc
  color: #523EE0
.c-t-mxgb
  color: #FFE998
.c-t-mcb
  color: #ECC842
.c-t-mgb
  color: #6651FB
.c-t-zc
  color: #37F9F9
.c-t-zj
  color: #E4A22B
.c-t-zzb
  color: #FFC798
.c-t-zcb-zhong
  color: #FFB838
.c-t-rzl
  color: #4A8BFA
.c-t-ry
  color: #FF4238
.c-t-thb
  color: #EC4A42
.c-t-rlsb
  color: #E4342B
.c-t-rcb-ri
  color: #D5FF98
.c-t-hz-kls
  color: #FFE4F0
.c-t-htzls
  color: #38FC50
.c-t-hzzb
  color: #49B0E7
.c-t-ac-ao
  color: #E4902B
.c-t-ab
  color: #E4FFF3
.c-t-ozb
  color: #FF7138
.c-t-og
  color: #FFA438
.c-t-soy
  color: #37FAA7
.c-t-oys
  color: #32A3E0
.c-t-olb
  color: #E6F6FF
.c-t-ocb
  color: #A64BE8
.c-t-oqs
  color: #E4E02B
.c-t-nozb
  color: #9833E0
.c-t-mzb
  color: #EDE7FF
.c-t-jfzb
  color: #774EFB
.c-t-snmy-sjbnmzyxs-jlbb
  color: #ECE842
.c-t-yszb
  color: #E941A0
.c-t-szbmy
  color: #FF98D2
.c-t-zmzb
  color: #E9FFE4
.c-t-zbmg
  color: #F6FFE4
.c-t-jbs
  color: #FF384B
.c-t-yzb
  color: #FC38A7
.c-t-yg-ya
  color: #5FEA41
.c-t-syy
  color: #BCFE38
.c-t-yys
  color: #FD3891
.c-t-sqs-si
  color: #EA418E
.c-t-yqs
  color: #FFE4F0
.c-t-yynz-nan
  color: #CEE42B
.c-t-yynz-nv
  color: #E12AA1
.c-t-xyj
  color: #E1FF98
.c-t-dnyj
  color: #ECEC42
.c-t-nyzb
  color: #B942FA
.c-t-nsqs
  color: #FFFF38
.c-t-fzb
  color: #FFE4F6
.c-t-sfy
  color: #ECD642
.c-t-fys
  color: #FFCA38
.c-t-fgj
  color: #A6ADFF
.c-t-sjb-shijiebei
  color: #874BFA
.c-t-nsjb
  color: #EFE7FF
.c-t-aynz-nan
  color: #FFC238
.c-t-aynz-nv
  color: #31ABE0
.c-t-lhhb
  color: #9CE1FF
.c-t-syfj
  color: #E7ECFF
.c-t-sqs-shi
  color: #4E73FA
.c-t-sjb-shijubei
  color: #31ABE0
.c-t-ggb
  color: #FC38A7
.c-t-zgb
  color: #4AE22B
.c-t-mzz
  color: #7A9A21
.c-t-gjs
  color: #DF004F
