include header
		form.form-signin(action='login/login', method='post')
			h2.form-signin-heading enter your name
			input.input-block-level(type="text", placeholder="name", name="username")
			button.btn.btn-large.btn-primary(type="submit")
				| Enter in				
include footer